*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.vsidx
*v1
*v2
*.lock
*.sqlite
\net6.0\
obj/staticwebassets.pack.sentinel
obj/staticwebassets.pack.sentinel
